.modalP{
    background-color: rgba(83, 81, 81, 0.397);
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalClientView{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: #fff;
    width: 850px;
    height: 450px; 
    margin-left: 200px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.377);
    border-radius: 5px;
    text-align: center;
    flex-direction: column;
}

.close{
    width: auto;
    height: auto;
    cursor: pointer;
    background-color: transparent;
    float: right;
}
.cli{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.edit{
    width: auto;
    height: auto;
    cursor: pointer;
    background-color: transparent;
    right: 10px;
    /* position: absolute; */
}
.modalClientSel h1{
    margin-top: 40px;
    font-size: 25px;
}
.modalClientSel .btnCad button{
    margin-top: 30px;
    width: 100px;
    height: 45px;
    margin-right: 20px;
    cursor: pointer;
}
.modalClientSel input{
    height: 25px;
    margin: 20px 0 0 0;
    border-radius: 20px;
    border: 1px solid #3333;
    text-align: center;
}
.modalClientSel .name{
    width: 780px;
}
.modalClientSel .address{
    width: 565px;
    margin-right: 10px;
}
.modalClientSel .number{
    width: 50px;
    margin-right: 10px;
}
.modalClientSel .cep{
    width: 145px;
}
.modalClientSel .neighborhood{
    width: 330px;
    margin-right: 10px;
}
.modalClientSel .city{
    width: 330px;
    margin-right: 10px;
}
.modalClientSel .state{
    width: 100px;
}
.modalClientSel .phone{
    width: 200px;
    margin-right: 10px;
}.modalClientSel .cellPhone{
    width: 200px;
    margin-right: 10px;
}
.modalClientSel .email{
    width: 360px;
}
.modalClientSel .cpf{
    width: 200px;
}
.btnSaveE{
    display: none;  
}
.btnCont{
    display: none;  
}