.dialogP{
    background-color: rgba(83, 81, 81, 0.397);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dialogC{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: fixed;
    flex-direction: column;
    background-color: #fff;
    width: 450px;
    height: 200px; 
    border-radius: 5px;
    box-shadow: 5px 5px rgb(117, 117, 117, 0.4);
}
.dialogC h1{
    margin-top: 10px;
    font-size: 25px;
}
.dialogC p{
    margin-top: 25px;
}
.dialogC .btn button{
    margin-top: 30px;
    width: 55px;
    height: 25px;
    margin-right: 20px;
    cursor: pointer;
}