.menu{
    position: absolute;
    height: 100vh;
    width: 200px;
    background-color: #1C1C2D;
    top: 0;
    bottom: 0;
}
.menu nav{
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.iconLogout{
    transform: rotate(180deg);
}
.iconUser{
    display: flex;
    margin: 20px auto;
}
nav h1{
    display: flex;
    margin: 10px auto;
    justify-content: center;
    color: #fff;
}
.iconMenu{
    margin-right: 5px;
}
.txtMenu{
    font-size: 20px;
    margin: 35px 10px auto;
    color: #fff;
    text-decoration: none;
}
.logout{
    width: auto;
    height: auto;
    cursor: pointer;
    background-color: transparent;
    float: right;
}